p {
    font-size: 24px;
} 

div{
    vertical-align: top;
}

input{
    width: 300px;
    height: 50px;
    background: white;
    border: 2px solid black;
    border-radius: 15px;
    padding: 5px;
}

button{
    background: white;
    border: 1px solid black;
    border-radius: 15px;
    font-size: 24px;
    padding: 5px;
}

button:hover{
    border: 3px solid black;
}

#edit{
    display: none;
}

.container{
    background-color: white;
    margin: 25px;
    border: 1px solid black;
    padding: 15px;
    border-radius: 15px;
}

#foto{
    border: 1px solid black;
    height: 200px;
    width: 200px;
    margin: 10px;
    display: inline-block;
}

#text{
    margin-left: 30px  ;
    width: 25%;    
    display: inline-block;
}

